---
project: kekes
pages:
 - title: home
   href: home
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{project}}</title>
</head>
<body>
    <style>
        body {
            font-size: 16px;
            font-family: sans-serif;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
    </style>

    <div class="container">
        <h1>{{project}}</h4>
        
            {% for page in pages %}
        
        <a href="{{page.href}}">{{page.title}}</a>

        {% endfor %}
    </div>

</body>
</html>